meta(charset='UTF-8')
meta(
    name='viewport',
    content='width=device-width, initial-scale=1, shrink-to-fit=no'
    )
link(
    rel='shortcut icon',
    type='image/png',
    href=require('../../images/favicon-96x96.png')
    )
